Q1.  How can we store a s1ngle quote (â€˜) as a str1ng 1n a var1able?

In [3]:
a='This is my pathon class'
print(a)

This is my pathon class

Q2. Refer the below var1able:
   x = 'a'
  Here, 1s x a character type or str1ng type var1able? Support your answer with an explanation
Ans=  based on the value assigned to x, which is a sequence of characters enclosed within single       quotes, we can conclude that x is a string type variable.

# 3

In [15]:
p='Welcome to Python foundation course'
type(p)

str

In [17]:
p.find('f')                # it is use to find the index number at which positions .

18

In [21]:
p.count('c')               # it is use to count the character whic is how many times is appear.

2

In [24]:
len(p)

35

In [25]:
a='This is my python class'             # Here we will use "." to concatenate two strings
b='I am student'
c= a+"."+ b
print(c)

This is my python class.I am student

# Q4

Q4Q For the var1able: word = 'PanaJ1@12256'
Calculate the follow1ng:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numerical in string

In [26]:
word = 'PanaJ1@12256'
word.lower()

'panaj1@12256'

In [27]:
word.upper()

'PANAJ1@12256'

In [29]:
word.isdigit()

False

# Q5

Q5= Write a code to store a numerical value 1nside a variable then convert it into string .

In [31]:
t=10
print("type of variable",type(t))
converted_t = str(t)
print("type after conversion",type(converted_t))

type of variable <class 'int'>
type after conversion <class 'str'>